name : Continous deployment ( backend )
on: 
  push:
    branches: [ main ]
jobs: 
  deploy: 
    runs-on : ubuntu-latest
    steps:
     - name: checkout the code
       uses: actions/checkout@v4
    
     - name: Docker login
       uses: actions/login-action@v3
       with: 
        username : ${{secrets.DOCKER_USERNAME}}
        password : ${{secrets.DOCKER_PASSWORD}}

     - name : Build and push the image
       uses : docker/build-push-action@v4
       with: 
        context: .
        file : docker/Dockerfile.backend
        push : true
        tags: kush511/deploy-monorepo-backend:${{github.sha}}

     - name: Execute remote SSH commands using SSH key
       uses: appleboy/ssh-action@v1
       with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: whoami

     - name: Pull the image and run container
       run: |
        ssh -i ${{secrets.KEY}} ${{secrets.USERNAME}}@${{secrets.HOST}} << 'EOF'
        docker pull kush511/deploy-monorepo-backend:${{github.sha}}
        docker stop prod_backend || true
        docker rm prod_backend || true
        docker run -d \
        --name prod_backend \
        -p 8080:8080 \
        kush511/deploy-monorepo-backend:${{github.sha}}
        EOF


